<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!--<title>Homepage</title>-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>My BookMS</h1>
<p>Welcome to <%= title %></p>
<p><a href="logout">登出</a></p>
</body>
</html>