<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <!--<title>首页</title>-->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>My BookMS</h1>
<p>Welcome to my BMS</p>
<p><a href="login">登录</a></p>
</body>
</html>